.cartItem__container {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  margin: 10px;
}
.cartItem {
  color: #000;

  display: flex;
  align-items: center;
  gap: 30px;
}
.cartItem p {
  color: #000;
}
.delete-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-left: auto;
}
.cart-section {
  display: flex;
  width: 80%;
  margin: auto;
}
.price-section {
  background-color: #fff;
  flex: 1;
  margin: 16px 0;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-height: 150px;
}
.price-section ul {
  display: flex;
  padding: 0;

  justify-content: space-between;
}
.price-section .price-details {
  font-weight: 700;
}
.price-section ul li {
  list-style: none;
}
.common-border {
  border-bottom: 1px dotted #ebebeb;
  padding-bottom: 10px !important;
}
.price-title {
  text-transform: uppercase;
  color: #8a8a8a;
  font-weight: 600;
}
.cart__product__count {
  border: 1px solid #efefef;
  padding: 0 15px;
  margin: 0 10px;
}
.product__count--container {
  display: flex;
  align-items: center;
}
.product__count--container .product__count__container--btn {
  display: flex;
  align-items: center;
  border-radius: 23px;
  border: 1px solid #e0e0e0;
  padding: 4px;
  background-color: transparent;
  cursor: pointer;
}
.cart-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 90px);
}
.empty_cart_message {
  text-align: center;
}
.empty_cart_message button {
  background: #2874f0;
  border: none;
  padding: 10px 25px;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}
