.footer-section-container {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
.footer-section-main {
  background-color: #172437;
}
.footer-section {
  margin: 10px;
  width: 50%;
}
.footer-section p {
  font-size: 12px;
}
.footer-section-title {
  color: #5f7179;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
.footer-section ul {
  padding: 0;
}
.footer-section ul li {
  list-style: none;
  padding: 4px 0;
  color: #fff;
  font-size: 12px;
}
.border-add {
  /* width: 10%; */
  border-left: 1px solid #8a8a8a;
  padding-left: 20px;
}
